@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');


:root {
    --bg-color: #0A192F;
    --first-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(255, 255, 255, .5);
    --cta-color: orange;
    overflow-x: hidden;
}


* {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: inherit;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    color: var(--first-color);
}

html {
    background-color: var(--bg-color);
}

a:hover{
    color: var(--cta-color);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color;
}



.header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
}


.header_content {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    list-style: none;
}


.header_links {
    display: flex;
    list-style: none;
}

.link {
    padding: 0.8rem 2rem;
}



.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.5rem;
}

.section:nth-child(2) {
    background: red;
}

#home {
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
}

.name {
    font-size: 6rem;
    overflow: hidden;
    border-right: .15em solid var(--cta-color);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 2.5s steps(30, end),
        blink-caret 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--cta-color)
    }
}

#home h2 {
    font-size: 4rem;
    color: var(--secondary-color);
}

#home p {
    color: var(--cta-color);
}

.headline {
    font-size: 3rem;
    color: white;
    margin-bottom: 5rem;
}

h1.gradient span {
    background: linear-gradient(0deg, rgba(255, 0, 255, 0) 0%, rgba(255, 0, 255, 0) 16%, var(--cta-color) 16%, var(--cta-color) 41%, rgba(255, 0, 255, 0) 41%);
}

h1.padding span {
    padding: 0 0.5em 0 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#link-about {
    height: 100vh;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;

}

.about_detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.description {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.skills{
    font-size: 2.5rem;
}

.skills i{
    padding: 0.8rem;
}


.skills i:hover{
    color: var(--cta-color);
    transform: scale(1.3);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    max-width: 40%;
    margin: 2rem;
    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--first-color);
    text-align: center;
    padding-top: 1rem;
}

.project-description {
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}






.button {
    padding: 12px 20px;
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--cta-color);
    border: 2px solid var(--cta-color);
    border-radius: 50px;
    transition: all .3s ease;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.button:hover {
    background-color: transparent;
    color: var(--first-color);
}

.form-input {
    border-radius: 10px;
    color: var(--bg-color);
    font-size: 1.2rem;
    font-weight: bolder;
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}


.footer {
    border-top: solid 1px;
    border-color: var(--cta-color);
    background-color: var(--bg-color);
    display: flex;
    padding: 2rem;
    margin-top: 3rem;
    flex-direction: row;
    justify-content: space-around;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.5rem;
}

.socials i:hover {
    color: var(--cta-color);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color;
}

.thanks{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    gap: 2rem;
}

/*
.sun {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(254, 242, 131);
    box-shadow: 0 0 50px rgba(255, 239, 100, 0.6), 0 0 100px rgb(255, 239, 100);
  }
  */